In [1]:
import pandas as pd

In [2]:
usuarios = pd.read_csv("data/usuarios.csv")
clientes = pd.read_csv("data/clientes.csv")
produtos = pd.read_csv("data/produtos.csv")
vendas = pd.read_csv("data/vendas.csv")
itens_venda = pd.read_csv("data/itens_venda.csv")

In [14]:
colClientes = ["id_cliente", "regiao", "canal_aquisicao"]
colItens = ["id_venda", "id_produto", "quantidade", "valor_total"]
colVendas = ["id_venda", "data_venda", "id_cliente"]

In [10]:
print(itens_venda.columns)

Index(['id_item_venda', 'id_venda', 'id_produto', 'quantidade', 'valor_total'], dtype='object')

In [15]:
bat1 = pd.merge(vendas[colVendas], itens_venda[colItens], on="id_venda", how="left")

In [18]:
# display(bat1)
display(bat1[bat1['id_venda'] == 199])
display(vendas[vendas['id_venda'] == 199])

     id_venda  data_venda  id_cliente  id_produto  quantidade  valor_total
378       199  2025-06-07         178           3           1      50000.0
379       199  2025-06-07         178           2           1     100000.0
380       199  2025-06-07         178           4           1     100000.0

     id_venda  data_venda  id_cliente  id_usuario  valor_total_venda
198       199  2025-06-07         178           4           250000.0