In [1]:
import pandas as pd

In [5]:
usuarios = pd.read_csv("data/usuarios.csv")
clientes = pd.read_csv("data/clientes.csv")
produtos = pd.read_csv("data/produtos.csv")
vendas = pd.read_csv("data/vendas.csv")
itens_venda = pd.read_csv("data/itens_venda.csv")

In [11]:
display(vendas)

     id_venda  data_venda  id_cliente  id_usuario  valor_total_venda
0           1  2024-12-28         362           4            10000.0
1           2  2025-09-17         389           3           200000.0
2           3  2025-03-26          56           9           300000.0
3           4  2025-09-02         495           8           300000.0
4           5  2025-04-22         424           6           160000.0
..        ...         ...         ...         ...                ...
195       196  2025-09-01         437           7           110000.0
196       197  2025-07-26         352           6            10000.0
197       198  2025-05-18          20           7           150000.0
198       199  2025-02-24         246          10           110000.0
199       200  2025-08-09          34           5           250000.0

[200 rows x 5 columns]